:root {
  --primary-color: #272142;
  --secondary-color: #ffff;
  --primary-font-family: "Nunito", sans-serif;
  --secondary-font-family: "Fuzzy Bubbles", cursive;
}
body {
  margin: 0;
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
}
h1 {
  color: var(--secondary-color);
  font-family: var(--primary-font-family);
  font-size: 72px;
  line-height: 98px;
}
.hero-tagline {
  font-size: 20px;
  font-weight: bold;
  line-height: 35px;
  font-family: var(--secondary-font-family);
  color: var(--secondary-color);
}
.hero {
  background-color: #878b95;
  background-image: url("../images/profile.png");
  background-repeat: no-repeat;
  background-size: cover;
  background-blend-mode: multiply;
  text-align: center;
  padding-top: 80px;
  padding-bottom: 80px;
}

.tagline {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}

h3 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
p {
  font-size: 28px;
  color: var(--primary-color);
}
.menu {
  width: 560px;
  height: 350px;
  border-radius: 12px;
  align-self: stretch;
}

.about-heading {
  color: var(--primary-color);
  text-align: center;
  top: 126px;
  font-size: 72px;
}
.favorite {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 36px;
  line-height: 35px;
  width: 257px;
  height: 49px;
  top: 900px;
  left: 592px;
  margin-bottom: 30px;
  text-align: center;
}
.recipe-menu {
  font-size: 12px;
  font-weight: 400;
  line-height: 30px;
  width: 360px;
  height: 90px;
}
.menu-name {
  font-family: var(--primary-font-family);
  font-size: 24px;
  line-height: 33px;
  width: 360px;
  height: 33px;
}
.food-name {
  border-radius: 12px;
  width: 360px;
  height: 350px;
}
