:root {
  --primary-color: #272142;
  --secondary-color: black;
  --primary-font-family: "Nunito", sans-serif;
  --secondary-font-family: "Fuzzy Bubbles", cursive;
}
body {
  font-family: var(--primary-font-family);
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: var(--secondary-font-family);
  font-weight: bold;
}
h1 {
  color: var(--secondary-color);
  font-family: var(--primary-font-family);
  font-size: 72px;
  line-height: 98px;
}
.hero p {
  font-size: 15px;
  font-weight: bold;
  line-height: 35px;
  font-family: var(--secondary-font-family);
}
.hero {
  background-color: #d8e7e6;
  text-align: center;
}

.tagline {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 20px;
  line-height: 35px;
  text-align: center;
}

h3 {
  color: var(--primary-color);
  font-weight: bold;
  font-size: 50px;
  text-align: center;
}
p {
  font-size: 28px;
  color: var(--primary-color);
}
